body{
    padding-top: 200px;
	background-color: rgb(17, 17, 16);
	color: rgb(213, 195, 195);

    width: 60%;
    margin: auto;
}

a {
	color: rgb(222, 131, 131)
}

a:hover{
    background-color: rgb(243, 240, 248);
}

.images{
    text-align: center;
}

.back{
    text-align: center;
}